@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome to NestQuest</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas arcu aliquet nibh condimentum posuere. Praesent mollis mi et quam convallis finibus eget a lorem. Proin efficitur mattis cursus. Morbi feugiat orci ut libero cursus, sed fermentum neque ultricies. Suspendisse lacinia luctus neque eget eleifend. Phasellus id arcu fermentum, malesuada elit convallis, feugiat eros. Ut semper lacus sed lectus convallis maximus. Aliquam suscipit eleifend felis in posuere. Vivamus accumsan, erat scelerisque hendrerit bibendum, velit augue porta risus, sit amet rutrum velit felis a tortor. Vivamus scelerisque tellus ut sem interdum tincidunt. Sed interdum, justo eu efficitur tristique, ligula nisi luctus urna, eu semper urna augue in quam. Vestibulum eu nibh non nulla pretium euismod sit amet et massa. Pellentesque porta erat ut velit pellentesque eleifend.
    </p>
</div>
